.plasmid {
    background-color: #fff;
    margin:10px;
}
.track {
    stroke:#999;
    stroke-width:0px;
    fill:#f0f0f0;
}

.marker {
    stroke:#999;
    stroke-width:0px;
}

.marker:hover{
    stroke:#ff6;
    stroke-width:5px;
}
.scale-minor {
    stroke: #999;
    stroke-width: 1px;
}
.scale-mid {
    stroke: #ccc;
    stroke-width: 1px;
}
.scale-major {
    stroke: #c00;
    stroke-width: 2px;
}
.scale-label {
    fill:#999;
    stroke:none;
    text-anchor:middle;
    alignment-baseline:middle;
    font-family: 'Lato', 'Arial';
    font-size:10px;
}

.scale-label-tiny {
    fill:#ccc;
    text-anchor:middle;
    alignment-baseline:middle;
    font-family: Arial;
    font-size:8px;
}

.marker-label{
    text-anchor:middle;
    alignment-baseline:middle;
    font-size:10px;
    font-weight:300;
    fill:#009;
}

.track-feature-label{
    position:absolute;
    padding:5px;
    box-shadow:2px 2px 10px #999;
    border:2px solid #666;
    font-size:12px;
    text-anchor:middle;
    alignment-baseline:middle;
    text-align:center;
}
.track-label{
    text-anchor:middle;
    alignment-baseline:middle;
    font-size:56px;
    font-weight:700;
    fill:#ccc;
    stroke:#333;
    stroke-width:1px;
}