<!doctype html>
<html ng-app='plasmid-lib'>
	<head>
		<link rel="stylesheet" href="css/fonts/stylesheet.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="js/util.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
		<script type="text/javascript" src="js/directives.js"></script>
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
	</head>
	<body ng-controller='MainCtrl'>
		
		<table>
			<tr><td>SVG Length</td><td><input type="number" spinner ng-model='l' ng-init='l=360'/></td></tr>
			<tr><td>SVG Size</td><td><input type="number" spinner ng-model='s' ng-init='s=550'/></td></tr>
			<tr><td>Track Size</td><td><input type="number"  spinner ng-model="r" ng-init="r=150"/></td></tr>
			<tr><td>Track Thickness</td><td><input spinner type="number"  ng-model="thick" ng-init="thick=30"/></td></tr>
			<tr><td>Scale Interval</td><td><input spinner type="number"  ng-model="i" ng-init="i=15"/></td></tr>
			<tr><td>Marker Text</td><td><input ng-model="markertext" ng-init="markertext='DANGER'"/></td></tr>
			<tr>
				<td colspan="2">
					<button ng-click="start()">Start</button>
					<button ng-click="stop()">Stop</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button ng-click="save()">Save</button> <a id="imglink" href=''></a>
				</td>
			</tr>
		</table>
		<hr/>

		<div style='position:absolute;left:20%'>
			<div style="position:relative;" plasmidapi name="api">
				<plasmid id="p1" class="plasmid" plasmidheight="s" plasmidwidth="s" style="position:absolute" sequencelength="l">
					<plasmidtrack class="track" radius="r" thickness="thick" style="fill:#f0f0f0" filter="url(#dropshadow)">
						<trackmarker ng-repeat="m in markers" markergroup="ranges" start="m.start" end="m.end" ng-attr-style="fill:{{m.colorband}}" filter="url(#dropshadow)" offsetthickness="10" offsetradius="thick"></trackmarker>
						<trackmarker ng-repeat="m in markers" markergroup="rangestart" start="m.start" offsetthickness="10+thick" ng-attr-style="stroke-width:2px;stroke:{{m.color}};stroke-dasharray:2 4"></trackmarker>
						<trackmarker ng-repeat="m in markers" markergroup="rangeend" start="m.end" offsetthickness="10+thick" ng-attr-style="stroke-width:2px;stroke:{{m.color}};stroke-dasharray:2 4"></trackmarker>
						<trackmarker markergroup="zones" start="30" end="70" style="fill:rgba(255,0,0,0.1)" offsetthickness="20" offsetradius="-10">
							<markerlabel type="path" style="fill:#f00;font-weight:bold" text="{{markertext}}" valign="inner" vadjust="-10"/>
						</trackmarker>
						<trackmarker ng-repeat="m in markers" markergroup="positions" start="m.start" end="m.end" class="marker" ng-attr-style="fill:{{m.color}}" arrowendlength="3" arrowstartlength="-2" markerclick="clicked(m, $marker, $e)">
							<markerlabel type="path" style='font-weight:bold;' text="Position" vadjust="80"></markerlabel>
							<markerlabel type="path" style='font-size:12px' text="{{m.start}} - {{m.end}}" vadjust="65"></markerlabel>
						</trackmarker>
						<trackmarker ng-repeat="r in enzymes" markergroup="enzymes" start="r" offsetradius="2" offsetthickness="-4" ng-attr-style="stroke:#aaa;stroke-width:2px"></trackmarker>
						<trackscale class="scale-major" offset="2" interval="15" direction="in"></trackscale>
						<trackscale class="scale-minor" offset="-thick+2" ticklength="thick+4" interval="5" style='stroke-width:1px;stroke-dasharray:1,4;stroke:#aaa'></trackscale>
						<trackscale class="scale-major" offset="2" interval="(r>120) ? 10 : i" showlabels="1" labelclass="scale-label" labelstyle="filter:url(#dropshadow)"></trackscale>
					</plasmidtrack>
				</plasmid>
				<!--
				<div ng-repeat="m in api.plasmids[0].tracks[0].markergroup('ranges')" class="marker-label" ng-attr-style="position:absolute;left:{{m.marker.getPosition(0,45).outer.middle.x-15}}px;top:{{m.marker.getPosition(0,45).outer.middle.y-10}}px;width:75px"><strong>Position</strong><br/>{{m.marker.start}} - {{m.marker.end}}</div>
				<div ng-repeat="m in api.plasmids[0].tracks[0].markergroup('zones')" class="marker-label" ng-attr-style="position:absolute;left:{{m.marker.getPosition().inner.middle.x-30}}px;top:{{m.marker.getPosition().inner.middle.y+20}}px;-webkit-transform:rotate(50deg)"><strong>DANGER</strong></div>
				-->
			</div>
		</div>

		<svg width="0" height="0">
			<defs>
				<filter id="dropshadow" height="120%">
					<feGaussianBlur in="SourceAlpha" stdDeviation="5"/> <!-- stdDeviation is how much to blur -->
					<feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
					<feComponentTransfer>
						<feFuncA type="linear" slope="0.3"/>
					</feComponentTransfer>
					<feMerge> 
						<feMergeNode/> <!-- this contains the offset blurred image -->
						<feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
					</feMerge>
				</filter>
			</defs>	
		</svg>
		<canvas id="canvas" width="600px" height="600px" style="display:none"></canvas> 

	</body>
</html>
